/* highlight_theme: mac light */
.highlight, pre {
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(144, 164, 174, 0.4);
  background: #f6f8fa;
}
.highlight::before, figure.highlight::before {
  content: '';
  display: block;
  height: 12px;
  background: radial-gradient(circle at 12px 50%, #ff5f56 6px, transparent 0),
    radial-gradient(circle at 32px 50%, #ffbd2e 6px, transparent 0),
    radial-gradient(circle at 52px 50%, #27c93f 6px, transparent 0);
  margin-bottom: 0.5rem;
}
