/* highlight_theme: ocean */
.highlight, pre, code {
  background: #0f111a !important;
  color: #8f93a2;
}
.highlight .k, .highlight .kd { color: #c792ea; }
.highlight .s, .highlight .s1, .highlight .s2 { color: #c3e88d; }
.highlight .c, .highlight .c1 { color: #464b5d; }
