{{- /*
  {{< checkbox "text" >}}
  {{< checkbox "checked" "text" >}}
  {{< checkbox "blue checked" "text" >}}
*/ -}}
{{- $cls := "" -}}
{{- $text := "" -}}
{{- $checked := false -}}
{{- if .IsNamedParams -}}
  {{- $cls = .Get "class" | default "" -}}
  {{- $text = .Get "text" | default "" -}}
  {{- if or (eq (.Get "checked") "true") (eq (.Get "checked") true) }}{{ $checked = true }}{{ end -}}
  {{- if in $cls "checked" }}{{ $checked = true }}{{ end -}}
{{- else if ge (len .Params) 2 -}}
  {{- $cls = trim (.Get 0) " " -}}
  {{- $text = trim (.Get 1) " " -}}
  {{- if in $cls "checked" }}{{ $checked = true }}{{ end -}}
{{- else if ge (len .Params) 1 -}}
  {{- $text = trim (.Get 0) " " -}}
{{- end -}}
{{- if $cls }}{{ $cls = printf " %s" $cls }}{{ end -}}
{{- if $text -}}
<div class="checkbox{{ $cls }}"><input type="checkbox"{{ if $checked }} checked="checked"{{ end }}/>
{{ $text | markdownify }}
</div>
{{- end -}}
